
<link rel="stylesheet" href="../../assets/libs/css/style.css">

<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="text-muted">Total Ganado Febrero</h5>
        <div class="metric-value d-inline-block">
          <h1 class="mb-1">489.95€</h1>
        </div>
      </div>
      <div id="sparkline-revenue"></div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="text-muted">Reembolsado</h5>
        <div class="metric-value d-inline-block">
          <h1 class="mb-1">0.00 €</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
  <div class="card">
    <h5 class="card-header">Ventas Recientes</h5>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table">
          <thead class="bg-light">
            <tr class="border-0">
              <th class="border-0">#</th>
              <th class="border-0">Nombre del Producto</th>
              <th class="border-0">Id Producto</th>
              <th class="border-0">Unidades</th>
              <th class="border-0">Precio</th>
              <th class="border-0">Fecha</th>
              <th class="border-0">Cliente</th>
              <th class="border-0">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>XBOX ONE X</td>
              <td>4</td>
              <td>1</td>
              <td>489.95€</td>
              <td>2019-02-15</td>
              <td>Angel</td>
              <td>Entregado</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
